In [12]:
import sqlite3
import pandas as pd

conn = sqlite3.connect(r"C:\DS_AI_Internship\src\Day18\internship.db")

query = """
SELECT interns.name,
       interns.track,
       mentors.mentor_name
FROM interns
INNER JOIN mentors
ON interns.track = mentors.track;
"""

df = pd.read_sql_query(query, conn)

print(df)

       name         track mentor_name
0     Akhil  Data Science       Neema
1   Chethan       Web Dev        Anil
2  Abhilash       Web Dev        Anil